.hero h1 {
  font-family: "Perpetua Titling MT", serif;
}

.hero h2 {
  font-family: "Perpetua Titling MT", serif;
}
.hero p {
  font-family: "Perpetua", serif;
}

.new-product h2 {
  font-family: "Perpetua Titling MT", serif;
}
