body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1c1c3c;
  color: white;
}

.hero {
  text-align: center;
  padding: 200px 20px;
  background: url("/assets/backgriund%20firs%20page.png") no-repeat center
    center/cover;
}

.hero h1 {
  font-size: 98px;
  letter-spacing: 54px;
  font-weight: normal;
  line-height: 0.3px;
}

.hero h2 {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: normal;
  margin-top: 70px;
}

.hero p {
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  white-space: pre-line;
}

.new-product {
  text-align: center;
  padding: 250px 20px;
  background: url("/assets/Frame%201.png") no-repeat center center/cover;
}

.new-product h2 {
  font-size: 48px;
  font-weight: normal;
}

.new-product p {
  font-size: 25px;
}

.best-week {
  text-align: center;
  padding: 190px 20px;
  background-color: #333366;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 20px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-align: center;
  background: wheat;
  font-family: Arial, sans-serif;
  padding: 10px;
  font-size: 18px;
  color: black;
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.product:hover {
  transform: scale(1.1);
  background-color: #ff5733;
  color: white;
}

/* RESPONSIVE*/
@media (max-width: 768px) {
  .hero {
    padding: 80px 10px;
  }

  .hero h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  .hero h2 {
    font-size: 14px;
    margin-top: 30px;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .new-product {
    padding: 100px 10px;
  }

  .new-product h2 {
    font-size: 24px;
  }

  .new-product p {
    font-size: 14px;
  }

  .best-week {
    padding: 80px 10px;
  }

  .product {
    width: 150px;
    font-size: 14px;
    padding: 8px;
  }

  .products {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding-bottom: 20px;
  }

  .products::-webkit-scrollbar {
    height: 8px;
  }

  .products::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  .products::-webkit-scrollbar-track {
    background: #1c1c3c;
  }
}
